//Variables

//Colors

$light__color: #E6E6E6;
$dark__color: #111;
$accent__color: #ccc;
$background-color: #FFF;
$white: $background-color;

// Fonts
$base-font-size: 1em;
$base-line-height: 1.7em;
$base-font-face: "Arial", "Helvetica", sans-serif;